.modal {
  font-family: "Gilroy-Bold" Arial, Helvetica, sans-serif;
  display: none;
  position: fixed;
  height: 100%;
  overflow: hidden;
  inset: 0;
  background-color: rgba(26, 26, 27, 0.9);
  /* touch-action: pan-y; */
  /* touch-action: pan-x; */
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  padding: 3%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(51, 109, 124, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.9;
  /* touch-action: pan-y;
  touch-action: pan-x; */
}

.user-box {
  margin-top: 4vw;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box > input {
  width: 100%;
  padding: 0.3vmin 1vmin;
  font-size: 2vmin;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1vw;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box > label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2vmin;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box > input:focus ~ label,
.login-box .user-box > input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 1.5vmin;
}

#nextBtn {
  display: inline-block;
  width: 25%;
  align-self: center;
  font-size: 2.5vmin;
  background-color: inherit;
  color: #fff;
  padding: 0.5vmin;
  border: 0;
  border-radius: 0.5vmin;
  cursor: pointer;
  transition: 0.4s;
}

#nextBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

#prevBtn {
  display: inline-block;
  width: 25%;
  align-self: center;
  font-size: 2.5vmin;
  background-color: inherit;
  color: #fff;
  padding: 0.5vmin;
  border: 0;
  border-radius: 0.5vmin;
  cursor: pointer;
  transition: 0.4s;
}

#prevBtn:hover {
  background-color: #454546;
  transition: 0.4s;
}

.sendBtn {
  display: none;
  width: 25%;
  align-self: center;
  font-size: 2.5vmin;
  background-color: inherit;
  color: #fff;
  padding: 0.5vmin;
  border: 0;
  border-radius: 0.5vmin;
  cursor: pointer;
  transition: 0.4s;
}

.sendBtn:hover {
  background-color: rgb(57, 57, 131);
  transition: 0.4s;
}

.closeModalBtn {
  position: absolute;
  right: 28%;
  top: 27%;
  border: 0;
  background: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 2vmin rgb(133, 135, 137) inset !important;
  -webkit-text-fill-color: #fff;
  caret-color: #fff;
}

.tab {
  display: none;
}

.step {
  height: 5px;
  width: 20px;
  margin: 0 2px;
  background-color: rgba(64, 62, 62, 0.8);
  border: none;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: rgb(57, 57, 131);
  opacity: 1;
}

.step.finish {
  background-color: rgb(57, 57, 131);
}

.wrapBtn {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bar {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check__header {
  font-size: 2.5vmin;
  color: rgb(244, 240, 240);
}

.check {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.wrap_check3 {
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
}

.wrap_check4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

.check1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4%;
}

.check__item {
  font-size: 2vmin;
  color: #fff;
  text-align: center;
}

.lb1 {
  margin: 1.5vmin 0;
}

.checkbox {
  display: none;
}

.checkbox + .lb1,
.checkbox + .lb1::before,
.checkbox + .lb1::after {
  transition: all 0.3s;
}

.checkbox + .lb1 {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.checkbox + .lb1::before {
  display: block;
  content: attr(data-offlabel);
  position: absolute;
  top: 9px;
  right: 3px;
  color: black;
  font-size: 14px;
}

.checkbox + .lb1::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: white;
}

.checkbox:checked + .lb1::before {
  content: attr(data-onlabel);
  left: 4px;
  top: 7px;
  right: auto;
  color: #fff;
}

.checkbox:checked + .lb1::after {
  left: 32px;
  background-color: #f7f7f7;
}

.checkbox + .lb1 {
  background-color: rgba(57, 57, 131, 0.3);
}
.checkbox:checked + .lb1 {
  background-color: rgb(57, 57, 131);
}
.checkbox:checked + .lb1::before {
  color: #fff;
}

.privacy_btn {
  color: rgb(57, 57, 131);
}

.thanks {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

.tab2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  inset: 0;
  position: fixed;
  display: none;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

.fa-reply {
  font-size: 5vmin;
  position: absolute;
  font-size: 6em;
  top: 13%;
  left: 80%;
  background: none;
  border: 0;
  color: #f7f2f2;
  cursor: pointer;
}

.alert_desc {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 5em;
  color: rgb(14, 126, 44);
}

/* .alert_ok {
  display: flex;
  margin: auto;
  width: 80%;
  height: 50%;
  background-color: #fff;
  box-sizing: border-box;
} */
.i {
  margin-left: 12%;
}

.o {
  margin-right: 12%;
}

.invalid {
  outline: 1px solid red;
  outline-offset: 4px;
}

.warn {
  position: absolute;
  top: -25px;
  display: none;
  color: red;
}

@media screen and (max-width: 1024px) {
  .login-box {
    width: 65%;
    height: 40%;
  }
  .closeModalBtn {
    right: 15%;
    top: 27%;
  }
}

@media screen and (max-width: 768px) {
  .login-box {
    padding-top: 6%;
  }
}

@media screen and (max-width: 600px) {
  .login-box {
    padding-top: 7%;
    width: 70%;
    height: 30%;
  }
  .closeModalBtn {
    top: 32%;
    right: 11%;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    box-sizing: border-box;
    top: 60%;
    width: 95vw;
    height: 40vh;
    background: transparent;
  }
  .closeModalBtn {
    top: 80%;
    right: 44%;
  }
  .login-box .user-box > input {
    padding-left: 2vmin;
    font-size: 4vmin;
  }
  .login-box .user-box > label {
    font-size: 4vmin;
  }
  #prevBtn,
  #nextBtn,
  .sendBtn {
    font-size: 4vmin;
    font-weight: 900;
  }
  .info p {
    font-size: 3vmin;
  }
  .check__header {
    font-size: 4.5vmin;
  }
  .check__item {
    font-size: 4vmin;
  }
  .check__item1 {
    font-size: 3vmin;
  }
  .user-box {
    margin-top: 12vmin;
    margin-bottom: 5vmin;
  }
  .user-box:nth-child(1) {
    margin-bottom: 10vmin;
    margin-top: 15vmin;
  }
  .login-box .user-box > input:focus ~ label,
  .login-box .user-box > input:valid ~ label {
    font-size: 2.5vmin;
  }
  .check1 {
    margin-top: 5%;
  }
  .wrap_check3 {
    margin-top: 15vw;
  }
  .wrap_check4 {
    margin-top: 5vw;
  }
  .fa-reply {
    font-size: 4em;
    top: 5%;
  }
}

@media screen and (max-height: 570px) {
  .user-box:nth-child(1) {
    margin-top: 5vmin;
    margin-bottom: 10vmin;
  }
  .check {
    margin-top: 2vmin;
  }
  .login-box {
    padding-top: 5%;
  }
  .info > p {
    top: -45%;
  }
}
